*.swp
test-*
!src/test-*
!test-*.h
documentation/html
documentation/man
documentation/xml
documentation/*.tag
metaquest
arena
!include/metaquest
data/census
include/data
include/ef.gy
dependencies.mk
documentation
doxyfile
